@import '../colors';

.root {
	padding: 8px;
}

.wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $dark-blue;
	font-weight: 700;
	gap: 10px;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $white;
	border-radius: 8px;
	padding: 4px;
	background: $dark-blue;
}