@import '../colors';

.root {
	position: relative;
	height: 52px;
	width: 100%;
}

.input, .disabled_input {
	background: $light-grayish-blue;
	height: 100%;
	width: 100%;
	color: $dark-blue;
	font-size: 1.125rem;
	font-weight: 500;
	border-radius: 8px;
	padding: 25px 16px 16px 16px;
	overflow-x: auto;
	resize: none;
	border: 2px solid transparent;
	transition: 100ms linear;
	&:focus {
		border-color: $dark-blue;
		background: $white;
	}
}

.disabled_input {
	display: flex;
	align-items: center;
	color: rgba($gray, 0.7);
}

.placeholder {
	color: $dark-blue;
	opacity: 0.4;
	font-weight: 400;
	line-height: 17px;
	position: absolute;
	left: 16px;
	top: 17px;
	transition: 70ms linear;
	pointer-events: none;
	font-size: 1.125rem;
}

.eye {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 16px;
	cursor: pointer;
	top: 50%;
	transform: translateY(-50%);
	color: $dark-gray;
}

.__active {
	.placeholder {
		font-size: 0.875rem;
		top: 5px;
	}
}

.__hasEye {
	.input {
		padding-right: 56px;
	}
}