$dark-blue: #3443B0;
$dark-gray: #292929;
$gray: #7A7A7A;
$light-grayish-blue: #EDF2FB;
$white: #FFFFFF;
$red: #F16D66;
$blue: #2274A5;;
$blueish-gray: #5D737E;
$yellow: #FFD233;
$green: #32936F;
$violet: #4E4EB8;